<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
</style>
</head>
<body>
   
<div class="container">

      Sorry, not yet finished.<br/>
      In file {{ fname }}, field <br/>
      <table class="table" style="width: auto;" border="0">
      {% for d in filemetas %}
      <tr>
      <td>{{ d.name }} </td><td> {{ d.descr }} </td> <td>

        <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">is compatible with ..
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          {% for f in filenames %}
          <br/>
          <li class="dropdown-submenu">
            <a class="test" tabindex="-1" href="#"> {{ f }} <span class="caret"></span></a>
            <ul class="dropdown-menu">

              {% for l in othermetas %}
                  {% for key, value in l.items() %}
                     {% if value == f %}
                         {% if key == "filename" %}
                          <li><a tabindex="-1" href="compatible-d?f1={{fname}}">  {{ l.name }} ({{ l.descr }}) </a></li>
                         {% endif %}
                     {% endif %}
                  {% endfor %}
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
        </div>
      </td>

      </tr>
     {% endfor %}
     </table>
</div>
<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>

</body>
</html>

