<html>
  <head>
    <title>Design New CSV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="w3.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
    Sorry, this functionality is not yet available.
    <br/>
    <form>
    <table>
    <tr>
    <td>Field name: </td>
    </tr>
    <tr>
    <td>Data type: </td>
    </tr>
    <tr>
    <td><input type="submit"></td>
    </tr>
    </table>
    </form>
  </body>
</html>

