<html>
  <head>
    <title>Edit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    <div class="container">

    {{ file }} - {{ num }}
    <br/>
    
    <table class="table">
    <tr>
    <thead class="thead-light">
    {% for entry in headers %}
    <th>  {{ entry }} </th>
    {% endfor %}
    <th></th><th></th>
    </thead>
     </tr>
    {% set rowcount = [0] %}
    {% for row in rows %}
    <form action="{{ url_for('editsave') }}" method="post">
    <tr>
      {% if rowcount.append(rowcount.pop() + 1) %}{% endif %}
      {% set colcount = [0] %}
      {% for col in row %}
       {% if colcount.append(colcount.pop() + 1) %}{% endif %}
      <td>
        {% if fields[loop.index-1].max and fields[loop.index-1].datatype == "string" %}
            <input name="{{rowcount}}-{{colcount}}" maxlength="{{ fields[loop.index-1].max }}" size="{{ fields[loop.index-1].max }}" type="text" value="{{ col }}"/>
        {% elif fields[loop.index-1].max and fields[loop.index-1].datatype == "integer" %}
            <input name="{{rowcount}}-{{colcount}}" type="number" min="{{ fields[loop.index-1].min }}" max="{{ fields[loop.index-1].max }}" value="{{ col }}"/>
        {% else %}
         <input name="{{rowcount}}-{{colcount}}" type="text" value="{{ col }}"/>
        {% endif %}
      </td>
      {% endfor %}
      <input name="fname" type="hidden" value="{{ file }}"/>
      <td><input type="submit" value="Save changes"/></td>
      </form>
      <form action="{{ url_for('graphrow') }}" method="post">
      <!-- add the name of the file -->
      <input type="hidden" name="00fname" value= {{ file }} />
      <!-- build a sequence of header - value -->
      {% for header in headers %}
      <input type="hidden" name=" {{ header }} " value=" {{ row[loop.index-1] }} " />
      {% endfor %}
      <td><button type="submit">📈</button></td>
      </form>
    </tr>
    {% endfor %}
    </table>
    <form action="{{ url_for('editsave') }}" method="post">
      <input name="fname" type="hidden" value="{{ file }}"/>
      <input name="numcols" type="hidden" value="{{ numcols }}"/>
    <input type="submit" value="Add row" name="addrow"/>
    </form>
    </div>
  </body>
</html>

