{% extends "layout.html" %}
{% block content %}

<table id="datasets" border="1" class="table">
<tr>
<thead class="thead-light">
<th>Set name</th> <th class="w-25">Description</th> <th> Fields </th> <th> </th>
</thead>
</tr>
{% for entry in metas %}
<tr>
<td>  {{ entry.name }} <br/>
	  <table id="pair" border="0">
	  <tr>
	  <td>
	   <button class="btn btn-secondary"><a style="color:white" href="static/{{ entry.name }}">Download</a> </button> 
	  </td><td>
       <form action="view" method="post"> <input name="file" type="hidden" value="{{ entry.name }}">
       <button class="btn btn-secondary" type="submit">View</button></form>
      </td>
      <td>
      	<form action="exportrdf" method="post"> <input name="file" type="hidden" value="{{ entry.name }}">
        <button class="btn btn-secondary" type="submit">Export RDF</button></form>
      </tr>
      </table>
      
</td> 
<td> {{ entry.descr }} </td>
<td> {% autoescape false %} {{ entry.formatted_fields }} {% endautoescape %} </td>
<td> 
{% if username != "" %}
<form action="edit" method="post">
 <input name="file" type="hidden" value="{{ entry.name }}"> 
 <button class="btn btn-secondary" type="submit">Edit</button></form> 
</td>
{% endif %}
{% endfor %}
</tr>
</table>

<button class="btn btn-secondary"><a style="color:white" href="/printurls">Get all dataset names</a> </button> 

{% endblock content %}
