{% extends "layout.html" %}

{% block content %}
Collections:
{% if curdir == "" %}
    {% if username != "" %}
    <a href="renamecollection"><button class="btn btn-default">Rename collection</button> </a>
    {% else %}
    <a href="changecollection?coll="><button class="btn btn-default"> Main </button> </a>
    {% endif %}
{% else %}
    <a href="changecollection?coll="><button class="btn btn-default"> Main </button> </a>
{% endif %}
{% for cdir in coldirs %}
    <a href="changecollection?coll={{cdir}}"><button class="btn btn-default"> {{ cdir }} </button> </a>
{% endfor %}
<table id="datasets" border="1" class="table">
<tr>
<thead class="thead-light">
<th>Set name</th> <th class="w-25">Description</th> <th> Fields </th> <th> </th>
</thead>
</tr>
{% for entry in metas %}
<tr>
<td>  {{ entry.name }} ({{ entry.fsizef }} B) {% if entry.lines != 0 %} {{ entry.linesf }} lines {% endif %} <br/>
	  <table id="pair" border="0">
	  <tr>
	  <td>
	   <button class="btn btn-secondary"><a style="color:white" href="{{currentcoldir}}/{{ entry.name }}">Download</a> </button> 
	  </td><td>
       <form action="home/view" method="post"> <input name="file" type="hidden" value="{{ entry.name }}">
       <button class="btn btn-secondary" type="submit">View/Edit</button></form>
      </td>
      <td>
      	<form action="home/exportrdf" method="post"> <input name="file" type="hidden" value="{{ entry.name }}">
        <button class="btn btn-secondary" type="submit">Export RDF</button></form>
      </tr>
      </table>
      
</td> 
<td> {{ entry.descr }} </td>
<td> {% autoescape false %} {{ entry.formatted_fields }} {% endautoescape %} </td>
<td> 
{% if username != "" %}
 <form action="{{ url_for('editmeta') }}" method="post">
 <input name="file" type="hidden" value="{{ entry.name }}"> 
 <button class="btn btn-secondary btn-block" type="submit">Edit metadata</button>
 </form><br/>

 <form action="{{ url_for('compatible') }}" method="post">
 <input name="file" type="hidden" value="{{ entry.name }}"> 
 <button class="btn btn-secondary btn-block" type="submit">Compatibility</button></form>
 <form>

 <form action="{{ url_for('add_iso') }}" method="post">
 <input name="file" type="hidden" value="{{ entry.name }}"> 
 <button class="btn btn-secondary btn-block" type="submit">Add ISO code</button></form>
 <form>

 <input name="file" type="hidden" value="{{ entry.name }}">
 <br/>
 <button id="{{ entry.name }}" type="button" 
 onclick="d1=document.getElementById('delf1'); d1.innerHTML='{{entry.name}}'" 
 class="btn btn-secondary btn-block" data-toggle="modal" data-target="#myModal">Delete</button>
 </form>
 <br/>
 <!--Visualize form/button-->
 <form action="{{ url_for('visualize') }}" method="post">
 <input name="file" type="hidden" value="{{ entry.name }}">
 <button class="btn btn-secondary btn-block" type="submit">Visualize</button></form><br/>
</td>
{% endif %}
{% endfor %}
</tr>
</table>

<button class="btn btn-secondary"><a style="color:white" href="{{ url_for('printurls') }}">Get all dataset names</a> </button> 

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--button type="button" class="close" data-dismiss="modal">&times;</button-->
        <h4 class="modal-title">Really delete .. </h4>
      </div>
      <div class="modal-body">
        <p><span id="delf1"></span>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" 
        class="btn btn-default" onclick="n=document.getElementById('delf1'); f='/delfile?f='+n.innerHTML; window.location.href=f" data-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No, Cancel</button>
      </div>
    </div>

  </div>
</div>

{% endblock content %}
