{% extends "layout.html" %}


{% block content %}
    <div class="content-section">

This functionality is for experts only. We trust your CSV format is at least somewhat correct.<br/>
Please avoid copy/pasting large files. Use the upload functionality for them.
<form action="{{ url_for('new') }}" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }} 
    <dl>

      {{ form.csvtext(cols="120", rows="20") }}
    </dl>
    <button class="btn btn-sm btn-success" type="submit">Submit Text</button>
  </form>


{% endblock content %}