<html>
  <head>
    <title>Cube</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    <div class="container">

      <h1>Please select one more dataset</h1>
      <br/>
      Please select one more set that you want to include in your OLAP cube.
      <br/><br/>
      {% autoescape false %} {{ msg}} {% endautoescape %}
      <br/>
      
      <table class="table" id="datasets" border="1">
      <tr>
      <th>Set name</th> <th>Description</th> <th> </th>
      </tr>
      {% for entry in entries %}
      <tr>
         <td>{{ entry.name }}</td>
         <td>{{ entry.descr }}</td>
         <td><form action="" method="get"><input type="hidden" name="fileselect" value="{{ entry.name }}" />
          <button><input class="btn btn-default" type="submit" name="oneselect" value="Select"></form></button></td>
      </tr>
     {% else %}
         <em>No entries here so far</em>
     {% endfor %}
      </table>
      <br/>

    </div>
    
    </div>
  </body>
</html>

