<html>
  <head>
    <title>Cube</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="w3.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
    Download the cube <a href="static/tmpcube.csv">here</a>.
    <br/>
    <form action="exportrdf" method="post"> <input name="file" type="hidden" value="tmpcube.csv">
        <button class="btn btn-secondary" type="submit">Export RDF</button></form>
    <br/>
  </body>
</html>

