<html>
  <head>
    <title>Select the Area to Visualize</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    <div class="container">
    <h1>Please Select the Area to Visualize</h1>

    Drop down list: World and indiv countries here
    <form method="post" action="{{ url_for('areaselect') }}">
    <select name="area">
<option value=W>The world</option>
<option value=AUS>Australia</option>
<option value=AUT>Austria</option>
<option value=BEL>Belgium</option>
<option value=BRA>Brazil</option>
<option value=BGR>Bulgaria</option>
<option value=BDI>Burundi</option>
<option value=CAN>Canada</option>
<option value=CHN>China</option>
<option value=CYP>Cyprus</option>
<option value=DNK>Denmark</option>
<option value=EGY>Egypt</option>
<option value=EST>Estonia</option>
<option value=ETH>Ethiopia</option>
<option value=FIN>Finland</option>
<option value=FRA>France</option>
<option value=DEU>Germany</option>
<option value=ISL>Iceland</option>
<option value=IND>India</option>
<option value=IDN>Indonesia</option>
<option value=IRN>Iran (Islamic Republic of)</option>
<option value=ITA>Italy</option>
<option value=JPN>Japan</option>
<option value=JOR>Jordan</option>
<option value=KEN>Kenya</option>
<option value=KOR>Korea (the Republic of)</option>
<option value=KWT>Kuwait</option>
<option value=LIE>Liechtenstein</option>
<option value=LTU>Lithuania</option>
<option value=MYS>Malaysia</option>
<option value=FSM>Micronesia (Federated States of)</option>
<option value=MAR>Morocco</option>
<option value=MMR>Myanmar</option>
<option value=NLD>Netherlands (the)</option>
<option value=NGA>Nigeria</option>
<option value=NOR>Norway</option>
<option value=OMN>Oman</option>
<option value=PAK>Pakistan</option>
<option value=PER>Peru</option>
<option value=PHL>Philippines (the)</option>
<option value=POL>Poland</option>
<option value=PRT>Portugal</option>
<option value=QAT>Qatar</option>
<option value=RUS>Russian Federation (the)</option>
<option value=RWA>Rwanda</option>
<option value=SAU>Saudi Arabia</option>
<option value=SGP>Singapore</option>
<option value=ESP>Spain</option>
<option value=SWE>Sweden</option>
<option value=CHE>Switzerland</option>
<option value=SYR>Syrian Arab Republic</option>
<option value=TZA>Tanzania, United Republic of</option>
<option value=THA>Thailand</option>
<option value=TLS>Timor-Leste</option>
<option value=UGA>Uganda</option>
<option value=UKR>Ukraine</option>
<option value=ARE>United Arab Emirates (the)</option>
<option value=GBR>United Kingdom of Great Britain and Northern Ireland (the)</option>
<option value=USA>United States of America (the)</option>
<option value=VNM>Viet Nam</option>
<option value=ZMB>Zambia</option>
    </select>
<input type="submit"/>
    </form>
    </div>
  </body>
</html>

