<html>
  <head>
    <title>Table from Wikipedia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    <div class="container">

    <div class="content-section">

 {% for table in rettables %}
  <form action="{{ url_for('fromwikimany') }}" method="post">
  <input type="hidden" name="url"  value="{{ wikiurl }}" />
  <input type="hidden" name="num" value=" {{ loop.index }} " />
  <button><input class="btn btn-default" type="submit" name="oneselect" value="Select the table below"></button>
  </form>
 
  <pre>
  {{ table }}
  </pre>

 {% endfor %}

    </div>
</div>
</body>
</html>
